<h1>My life!</h1>

<h2>Skills</h2>

<ul>
  <%@skills.each do |item|%>
  <li><%=item%></li>
  <%end%>
</ul>

<h2>Interests</h2>
<ul>
  <%@interests.each do |item|%>
  <li><%=item%></li>
  <%end%>
</ul>
